# Virtual environments
venv/
env/
*.egg-info/

# ANLTR compilation files
*.interp
*.tokens
*.rules
*.dfa
*.java
*.class
*.jar

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

anltr.jar

